.parent {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 3fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	}
	
.title-div { grid-area: 1 / 1 / 2 / 2; }
.nav-div { grid-area: 2 / 1 / 3 / 2; }
.card-div { grid-area: 1 / 2 / 2 / 3; }
.main-div { grid-area: 2 / 2 / 3 / 3; }

.card-div {
	display: flex;
	overflow-x: auto;
}

.card-div img {
	height: 200px;
	margin-right: 10px;
	cursor: pointer;
}

.card-div img:first-child {
  margin-left: 10px;
}

.card-div img:last-child {
  margin-right: 10px;
}

.card-image {
  height: 350px;
}

input[type="textarea"] {
	height: 300px;
}

#copyright {
	color: black
}